GOOGLE_GENERATIVE_AI_API_KEY=xxxxx
MONGODB_URI=mongodb://localhost:27017/groupchat
IGDB_CLIENT_ID=xxxx
IGDB_CLIENT_SECRET=xxxx
ACCESS_TOKEN_SECRET=xxxxxxxxxxxx
REFRESH_TOKEN_SECRET=xxxxxxxxxxxx
AUTH_TOKEN_SECRET=xxxxxxxx
CDN_URL=http://localhost:3001
FIREBASE_PROJECT_ID=xxxx
FIREBASE_CLIENT_EMAIL=xxxx
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
STORAGE_PROVIDER=local
AWS_S3_BUCKET_NAME=xxxx
AWS_S3_ACCESS_KEY_ID=AKIAXIHRNTIY4UH2TI7S
AWS_S3_SECRET_ACCESS_KEY=xxxx
AWS_S3_REGION=eu-west-2
AWS_S3_ENDPOINT=https://s3.eu-west-2.amazonaws.com
USER_GEMINI_TOKEN_SECRET=xxxx
SERVER_PORT=3001
WEBSITE_URL=http://localhost:3000